*.o
*.mod
CRMod_*
CRTomo_*
CutMcK_*
minimal_*
forfiles
Makefile.am
Makefile.in
Makefile
*.h
*#
.#*
*.log
*.aux
*.pdf
*.loc
*.lof
*.idx
*.directory
*.lot
*.toc
doxy.inp
html
latex
inv.last*
inv.el*
*/inv/*
