*.o
*.mod
CRMod*
CRTomo*
CutMcK*
mini_*
forfiles
*.mod
cutmckee/Makefile.am
./error.txt
Makefile.in
*#
.#*
*.log
*.aux
*.pdf
*.loc
*.lof
*.idx
*.directory
*.lot
*.toc
Makefile
doxy.inp
html
latex
inv.last*
inv.el*
*/inv/*
config.log
configure
aclocal.m4
autom4te.cache/
config.status
config/
cutmckee/crerror.h
minimalbeispiele/minimal_omp
minimalbeispiele/minimal_prec
INSTALL
*.*~
package/
