/*.o
/*.mod
/CRMod*
/CRTomo*
/mini_*
/minimal_*
/minimal
/forfiles
/cutmckee/crerror.h
/cutmckee/Makefile.am
/man/Makefile.in
/src/Makefile.am
/*.mod
/*#
/.#*
/*.log
/*.aux
/*.pdf
/*.loc
/*.lof
/*.idx
/*.directory
/*.lot
/*.toc
/Makefile
